{% extends "layout.html" %}
{% load humanize %}

{% block body %}
    <nav class="navbar">
        <a class="navbar-brand" href=""><span class="money-icon"></span>Trade <span></span> In</a>
        <ul class="nav justify-content-end">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" id="search-link" href="">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dashboard-link" href="">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="transactions-link" href="">Transactions</a>
                </li>
            {% else %}
                <li class="nav-item green-btn">
                    <a class="nav-link" href="">Try as Guest</a>
                </li>
                <li class="nav-item green-btn">
                    <a class="nav-link" href="">Sign In</a>
                </li>
                <li class="nav-item green-btn">
                    <a class="nav-link" href="">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% if user.is_authenticated %}
    <div class="under-nav">
        <div>
            Signed in as <span id="username">{{ user.username|title }}</span>
        </div>
        <a id="sign-out" href="#">Sign out</a>
    </div>
    {% endif %}

    <section class="balance">
        <h2>Balance</h2>
        <div class="first-row">
            <div>Funds:</div>
            <i id='edit'></i>
            <div>$<span id='funds'>{{ funds|intcomma }}</span></div>
        </div>
        <div class="second-row">
            <div>Investing:</div>
            <i id='refresh'></i>
            <div>$<span id='investing'></span></div>
        </div>
    </section>

    <section class="latest-transactions">
        <h2>Lastest Transactions</h2>
        <table>
            <tr>
                <th>Date</th>
                <th>Symbol</th>
                <th>Qty</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>xx/xx/xx</td>
                <td>XXXX</td>
                <td>xx</td>
                <td>$xxx</td>
            </tr>
        </table>
        <button id="more">+ More</button>
    </section>

    <div class="main">
        <section id="search-section" >
            <h4>Stock symbol:</h4>
            <input id="search-input" type="text">
            <button id="search-btn">Search</button>
            <div class="invalid-search">Invalid symbol</div>
            <h1 id="symbol-heading" class="valid-search"></h1>
            <input class="valid-search" id="buy-input" type="number">
            <button class="valid-search" id="buy-btn">Buy</button>
            <h3 id="company-heading" class="valid-search"></h3>

            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container chart valid-search">
                <div id="tradingview_d2e0d"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                // change chart everytime a search is done
                const symbolInput = document.querySelector('#search-input')
                document.querySelector('#search-btn').addEventListener('click', () => {
                    let symbol = symbolInput.value;
                    new TradingView.widget(
                    {
                    "width": 940,
                    "height": 430,
                    "symbol": `${symbol}`,
                    "interval": "D",
                    "timezone": "Etc/UTC",
                    "theme": "dark",
                    "style": "3",
                    "locale": "en",
                    "toolbar_bg": "#f1f3f6",
                    "enable_publishing": false,
                    "allow_symbol_change": true,
                    "container_id": "tradingview_d2e0d"
                    }
                    );
                });
                </script>
            </div>
            <!-- TradingView Widget END -->
        </section>

        <section id="dashboard-section">
            <h2>Stocks</h2>
        </section>
        <section id="transactions-section">
            <h2>Transactions</h2>
        </section>

    </div>


{% endblock %}